body {
	background-color: pink;
}
h2 {
	border-style: solid;
	padding: 15px;
	margin-left: 15px;
	margin-right: 15px;
}
p {
	background-color: cyan;
	border-style: solid;
	border-radius: 15px;
	padding: 15px;
	margin-left: 15px;
	margin-right: 15px;
}
img {
	margin-left: 15px;
}
