#header {
	background-color: cyan;
	padding: 10px;
	text-align: center;
}
#main_nav {
	background-color: lime;
	padding: 10px;
	text-align: center;
}
#vertical_nav {
	background-color: pink;
	float: left;
	width: 20%;
	padding:1%;
	height: 500px;
}
.section {
	background-color: yellow;
	float: left;
	width: 37%;
	padding: 1%;
	height: 500px;
}
body {
width: 90%;
margin-left: auto;
margin-right: auto;
}
.links {
	display: inline;
	padding: 50px;
}
a:hover {
	color: red;
}
#footer {
	background-color: orange;
	padding: 10px;
	text-align: center;
	clear: both;
}
